@model CRUD_MVC.Models.Student

<h2>Add Student</h2>
<form asp-action="Create" method="post">
    <div>
        <label>Full Name</label>
        <input asp-for="FullName" class="form-control" />
    </div>
    <div>
        <label>Age</label>
        <input asp-for="Age" class="form-control" />
    </div>
    <div>
        <label>Address</label>
        <input asp-for="Address" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>